# Ignoring vendor
vendor/
# Ignore node_modules
node_modules/
# Ignore uploads uploads/*.json
uploads/*.json
# Ignore uploads uploads/*.json
token.json
# ignore config.php
config.php

# igonore .zip 
*.zip

```